/* Universal Selector */
* {
   margin: 0;
   padding: 0;

}

/* Header */
nav ul li {
    display: inline;
    list-style: none;
}

nav ul li a {
  color: black;
 
}

a {
    text-decoration: none;
}

/* Last header */



/* Article  */
.about, .streamer, .web-dev {
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
}


/* Last Article */



/* Start setting image and video size  class */

.img-page {
    max-width: 100%;
    
}

.video-size {
    max-width: 100%;
}
/* stop setting image and video size */


/* Setting all and heading paragraph */

h1 {
    font-family: sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Stop setting all paragraph */


/* Aside */

aside ul li {
    list-style: none;
}


/* Stop aside */


/* Footer */

footer {
    background-color: gold;
}
footer p {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
}

/* Stop footer */

/* Hover pseudoclass selector */

img:hover {
    size: 200%;
}