/* Start setting image and video size  class */

.img-page {
    max-width: 100%;
    
}

.video-size {
    max-width: 100%;
}
/* stop setting image and video size */


/* Setting all and heading paragraph */

h1 {
    font-family: sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Stop setting all paragraph */
